
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Salut <%= @participant.first_name %> !</h1>

    <p>
      Nous t'envoyons ce mail pour te confirmer ton inscription à l'événement : <%= @event.title %>.
    </p>
    <p>
      Nous espérons que tu profiteras bien de cet événement !
    </p>
    <p>
      À très vite sur eventbrite.fr !
    </p>
  </body>
</html>